#SectiuneIntro{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 900px;
    background-color: rgb(0, 0, 0);
}

#left{
    display: flex;
    flex-direction: column;
}

#introImg{
    margin: 0px;
    width: 30em;
    animation: slideIn 2s ease-out forwards;
}

#textIntro1{
    cursor: pointer;
    margin: 0px;

    animation: slideIn 1s ease-out forwards;
    transition: transform 0.3s ease;
}

#textIntro2{
    cursor: pointer;
    color: #585858;
    margin: 0px;
    
    animation: slideIn 1s ease-out forwards;
    transition: transform 0.3s ease;
}

#textIntro3{
    cursor: pointer;
    margin: 0px;

    animation: slideIn 1s ease-out forwards;
    transition: transform 0.3s ease;
}

#textIntro4{
    cursor: pointer;
    margin: 0px;

    animation: slideIn 1s ease-out forwards;
    transition: transform 0.3s ease;
}

#textIntro5{
    cursor: pointer;
    color: rgb(88, 88, 88);
    margin: 0px;

    animation: slideIn 1s ease-out forwards;
    transition: transform 0.3s ease;
}

#textIntro6{
    cursor: pointer;
    margin: 0px;

    animation: slideIn 1s ease-out forwards;
    transition: transform 0.3s ease;
}

#textIntro7{
    cursor: pointer;
    color: #585858;
    margin: 0px;

    animation: slideIn 1s ease-out forwards;
    transition: transform 0.3s ease;
}

#textIntro8{
    cursor: pointer;
    font-size: 3.7rem;
    margin: 0px;

    animation: slideIn 1s ease-out forwards;
    transition: transform 0.3s ease;
}

#exploreButton{
    border: none;
    width: 250px;
    height: 55px;
    background-color: #5353fc;
    position: absolute;
    border-radius: 10px;
    color: white;
    font-size: 1.3rem;
    font-family: 'Gilroy', sans-serif;

    transition: transform 0.3s ease;
}

#textIntro1:hover, #textIntro2:hover, #textIntro3:hover, #textIntro4:hover, #textIntro5:hover, #textIntro6:hover{
    transform: translateX(20px);
}

#textIntro7:hover, #textIntro8:hover{
    transform: translateX(-20px);
}

#exploreButton:hover{
    transform: scale(1.1);
}