header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    height: 65px;
    background-color: rgb(15, 15, 15);
}

#logo{
    width: 200px;
}

#sectionHeader{
    text-decoration: none;
    font-size: 1.3rem;
    font-family: 'Gilroy', sans-serif;
    color: white;
}

#sectionContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
}

#horizontalBar{
    width: 100%;
    height: 2px;
    background: #5CE1E6;
    background: linear-gradient(90deg, rgba(92, 225, 230, 1) 0%, rgba(140, 82, 255, 1) 64%);
    border-radius: 20px;
}

#sectionHeader{
    font-size: 1.1rem;
}

#Container{
    display: flex;
    gap: 10px;
}